body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-content: center;
  align-items: center;
}

header {
  background-color: antiquewhite;
  display: block; 
  border-bottom: 1px black solid;
  padding: 10px;
}