body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: #EFE1C7;
  overflow-x: hidden;
  margin-top: -10px;
  margin-right: -10px;
}

header {
  background-color: rgb(195, 209, 161);
  display: block; 
  border-bottom: 1px black solid;
  padding: 10px;
  width: 100%;
}

select {
  margin-bottom: 30px;
  background-color: rgba(255, 153, 0, 0.692);
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  border: 0.5px solid #cf932b;
}

option {
  font-weight: bold;
}

.box-container {
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #ffd180;
  border-radius: 15px;
  background-color: #fff8ec;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-content: center;
  text-align: center;
  justify-content: space-between;
}

.left-section {
  flex-basis: 45%;
}

.straight-line {
  border: 0.5px solid #cf932b;
  margin-right: 20px;
}

.right-section {
  flex-basis: 75%;
}

img {
  margin-bottom: 25px;
  border-radius: 15px;
}

.right-section .text-content{
  text-align: left;
}

.right-section ul, ol{
  text-align: left;
}

.content-subtitle {
  margin-left: 23px;
}

footer {
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #6d7e47;
  color: white;
  font-size: 20px;
  margin-bottom: -10px;
}

.text-content-first {
  text-align: left;
  margin: 15px;
  background-color: #fcdeac;
  padding: 5px;
  border-radius: 20px;
}

.text-content-second {
  text-align: left;
  margin: 15px;
  background-color: #f8a515;
  padding: 5px;
  border-radius: 20px;
}

@media screen and (min-width: 770px) {
  h1 {
    font-size: 30px;
  }
  body {
    margin-right: -20px; /* gap issue */
  }
  .box-container {
     display: flex;   /*change display issue */
    flex-direction: row;
  }
  .left-section {
    margin-bottom: 30px;
  }
  /*.right-section {
     margin-top: 25px; 
  }
  img {
     margin-bottom: 25px; 
  }*/
  header {
    width: 100%;
    margin: 0px;
  }
  /* .straight-line {
    margin-right: 0px;
  } */
}
